# Ignore build output
.next
out
dist

# Ignore dependencies
node_modules
pnpm-lock.yaml
yarn.lock
package-lock.json

# Ignore environment files
.env
.env.local
.env.*.local

# Ignore TypeScript build artifacts
*.d.ts
*.js
*.js.map
*.cjs
*.mjs

# Ignore Next.js and Vercel config output
.vercel
.vscode

# Ignore assets that shouldn't be formatted
public
coverage
